<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.qualityeclipse.favorite"
            name="Quality Eclipse">
      </category>
      <view
            class="org.tizen.common.bugreport.initialize.ViewPart1"
            id="org.tizen.common.bugreport.initialize.view1"
            name="Favorite"
            restorable="true">
      </view>
   </extension>

</plugin>
